@font-face {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 800;
	src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
	font-display: swap;
}

@font-face {
	font-family: "Rubik";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
	font-display: swap;
}

@font-face {
	font-family: "Rubik";
	font-style: normal;
	font-weight: 700;
	src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
	font-display: swap;
}

html {
	height: 100%;
}

body {
	font-family: "Rubik", sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 30px;
	margin: 0;
	padding: 0;
	display: flex;
	min-height: 100%;
	flex-direction: column;
}

.flex {
	display: flex;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.main-header {
	width: 1160px;
	margin: 20px auto 0;
	background-image: linear-gradient(180deg, #fff 20px, #FFE17F 20px);
}

.header-container {
	display: grid;
	grid-template-columns: 517px 497px;
	gap: 30px 27px;
	padding: 0 60px;
}

.navigation-search-form input {
	font-size: 16px;
	line-height: 20px;
}

.list {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.main-header-navigation-link {
	text-decoration: none;
	color: #000000;
	transition: opacity .2s;
	align-items: center;
	gap: 12px;
}

.main-header-page-navigation-item {
	font-family: "Raleway", sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 21px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	list-style-type: none;
	transition: opacity .3s;
	justify-content: center;
	align-items: center;
	max-width: 127px;
	position: relative;
}

.main-header-page-navigation-link, .main-header-page-navigation-button-link {
	text-decoration: none;
	color: #000000;
	font-family: "Raleway", sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 21px;
	text-transform: uppercase;
	transition: opacity .2s;
	align-items: center;
	justify-content: space-between;
}
.main-header-page-navigation-button-link {
	width: 293px;
	letter-spacing: 0.2em;
}


.title {
	font-family: "Raleway", sans-serif;
	font-weight: 800;
	font-size: 50px;
	line-height: 50px;
	margin: 0;
	padding: 0;
}

.product-showcase-text {
	color: #444444;
}

.product-showcase-link {
	font-family: "Raleway", sans-serif;
	font-weight: 800;
	line-height: 21px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	width: 220px;
	text-decoration: none;
	color: #000000;
	margin-top: 58px;
	position: relative;
	justify-content: center;
	align-items: center;
}

.nuances-text {
	color: #444444;
}

.advantages h2 {
	font-family: "Raleway", sans-serif;
	font-weight: 800;
	font-size: 20px;
	line-height: 23px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
}

.about-text,
.contacts-text {
	color: #444444;
	padding: 0;
	margin: 0;
}

.about-list-item {
	font-weight: 700;
	line-height: 20px;
	letter-spacing: -0.02em;
}

.about-list-item:not(:last-child) {
	margin-bottom: 19px;
}

.contacts-text {
	color: #444444;
	margin-top: 48px;
	width: 498px;
}

.contacts h3 {
	color: #444444;
	margin: 0;
	padding: 30px 0 0;
	font-weight: 700;
	font-size: 24px;
	line-height: 30px;
}

.contacts-address {
	font-style: normal;
	color: #444444;
	margin-top: 15px;
}

.contacts-phone-number-link {
	color: #444444;
	font-style: normal;
}

.contacts-time-schedule {
	color: #444444;
	padding: 0;
	margin: 15px 0 30px;
}

.about-link,
.contacts-link,
.subscription-button,
.catalog-filter-button,
.button-load-more {
	font-family: "Raleway", sans-serif;
	font-weight: 800;
	line-height: 21px;
	text-align: center;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	text-decoration: none;
	color: #000000;
}

.subscription-text {
	color: #444444;
	width: 529px;
	margin: 74px 0 0 250px;
}

.subscription-form-email-input {
	font-family: "Rubik", sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 30px;
}

.subscription-text-free {
	color: #444444;
	width: 160px;
	align-items: center;
	justify-content: flex-end;
	background-image: url(../images/green-tick.svg);
	background-repeat: no-repeat;
	background-position: 8px 10px;
}

.main-footer {
	background-color: #444444;
	color: #ffffff;
}

.main-footer-address {
	font-size: 16px;
	line-height: 20px;
	font-style: normal;
	width: 239px;
	grid-column: 1 / 2;
}

.main-footer-list-item {
	font-family: "Raleway", sans-serif;
	font-weight: 800;
	line-height: 21px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	max-width: 124px;
}

.main-footer-phone-number-link {
	font-size: 16px;
	font-style: normal;
	color: #ffffff;
	display: block;
	transition: color .2s, opacity .2s;
}

.navigation-search-form-search {
	font-family: "Rubik", sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	color: #000000;
}

.search-button {
	font-family: "Rubik", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
}

.breadcrumbs-item {
	font-size: 16px;
	line-height: 20px;
	position: relative;
}

.breadcrumbs-link {
	text-decoration: none;
	color: #000000;
}

.catalog-products-text-filter,
.catalog-products-text-sort {
	font-family: "Raleway", sans-serif;
	font-weight: 800;
	font-size: 16px;
	line-height: 19px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
}

.catalog-products-title,
.catalog-filter-title {
	font-weight: 700;
	letter-spacing: -0.02em;
}

.select-control {
	font-family: "Rubik", sans-serif;
	font-weight: 400;
	font-size: 18px;
	line-height: 30px;
}

.product-card-title {
	font-weight: 700;
	line-height: 20px;
	letter-spacing: -0.02em;
	width: 226px;
	margin: 0;
	padding: 0;
}

.product-card-link {
	text-decoration: none;
}

.product-card-link-wrapper {
	color: #000000;
	text-decoration: none;
	position: relative;
	z-index: 0;
}

.product-card-price {
	line-height: 21px;
	color: #444444;
}

.pagination-item {
	text-decoration: none;
	width: 40px;
	height: 40px;
	justify-content: center;
	align-items: center;
	transition: opacity .2s;
}

.pagination-prev,
.pagination-next {
	font-family: "Raleway", sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 21px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	color: #000000;
	border: 0;
	cursor: pointer;
	padding: 0;
}

.footer-container {
	width: 1160px;
	margin: 0 auto;
	padding: 62px 0;
	display: grid;
	gap: 30px 119px;
	grid-template-columns: 240px 444px 238px;
}

.footer-logo-link {
	grid-column: 1 / 2;
	justify-self: start;
	transition: opacity .2s;
}

.footer-navigation-item-address {
	width: 239px;
	height: 182px;
}

.footer-navigation-item-phone-number {
	width: 175px;
	height: 116px;
	margin-left: 183px;
}

.subscription-schedule {
	width: 348px;
	margin: 64px 0 0 10px;
	padding: 0;
}

.subscription-form {
	width: 810px;
}

.subscription-container {
	width: 1160px;
	margin: 70px auto 0;
	flex-direction: column;
}

.subscription {
	background-color: #F0F0F0;
}

.about {
	width: 520px;
}

.contacts {
	width: 532px;
	margin-left: 108px;
}

.about-contacts-container {
	width: 1160px;
	margin: 70px auto 0;
}

.advantages-link {
	align-items: center;
	justify-content: space-between;
	text-decoration: none;
	color: #000000;
	width: 1160px;
	margin: 0 auto;
	background-color: #F0F0F0;
	transition: opacity .2s;
}

.nuances {
	margin-top: 84px;
	padding: 73px 0 145px;
	background-image: linear-gradient(180deg, #FFFFFF 102px, #F0F0F0 102px 113px);
	position: relative;
}

.nuances-container {
	width: 1160px;
	margin: 0 auto;
}

.nuances-controls-container {
	justify-content: space-between;
	flex-direction: column;
	width: 280px;
	position: relative;
}

.nuances-controls {
	border: 0;
	font-family: "Raleway", sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 18px;
	line-height: 21px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	width: 153px;
	z-index: 0;
	position: relative;
	cursor: pointer;
	background-color: transparent;
}

.nuances-item {
	margin-left: 116px;
	width: 452px;
}

.nuances-img {
	display: block;
	margin-left: 106px;
}

.nuances-heading {
	width: 242px;
	margin: 0;
	padding: 0;
}

.nuances-text {
	width: 452px;
	margin: 34px 0 0;
	padding: 0;
}

.nuances-list {
	width: 287px;
}

.product-selection {
	width: 1160px;
	margin: 45px auto 0;
}

.product-selection-list-item {
	width: 160px;
}

.product-selection-list {
	display: grid;
	grid-template-columns: repeat(6, 160px);
	gap: 40px;
}

.product-selection-list-item img {
	display: block;
}

.product-slider {
	width: 1160px;
	margin: 0 auto;
	background-image: linear-gradient(180deg, #FFE17F 131px, #fff 131px);
	flex-wrap: wrap;
	justify-self: center;
	flex-direction: column;
	position: relative;
	counter-reset: slider-number;
}

.login {
	background-image: url(../images/login.svg);
    background-repeat: no-repeat;
    background-position-y: 9px;
    background-size: 13px 12px;
    padding-left: 27px;
}
.chart {
	background-image: url(../images/compare.svg);
    background-repeat: no-repeat;
    background-position: 1px 9px;
    background-size: 10px 12px;
    padding-left: 27px;
}
.shopping-cart {
	background-image: url(../images/shopping-list.svg);
    background-repeat: no-repeat;
    background-position: -1px 6px;
    background-size: 16px 14px;
    padding-left: 27px;
}

.cart-amount {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 21px;
	height: 21px;
	border-radius: 50%;
	background-color: #FFFFFF;
	font-size: 14px;
	line-height: 17px;
	left: -16px;
    top: 5px;
}
.product-showcase-slider {
	width: 530px;
	position: absolute;
    justify-content: space-between;
    top: 192px;
	left: 30px;
	z-index: 1;
}

.product-showcase-heading {
	width: 545px;
	margin: 103px 0 0;
	padding: 0;
}

.product-showcase-text {
	margin: 29px 0 0;
	padding: 0;
	width: 560px;
}

.product-showcase-item {
	width: 560px;
	margin-left: 40px;
}

.main-header-logo-link {
	text-decoration: none;
	justify-self: start;
	height: 36px;
	transition: opacity .2s;
}

.main-header-logo {
	margin-top: -20px;
}

.main-header-navigation-item-login {
	width: 231px;
}

.navigation-search-form {
	width: 517px;
	height: 40px;
	grid-column: 1 / 2;
}

.main-header-page-navigation-list {
	flex-wrap: wrap;
	padding: 0;
	margin: 0;
	gap: 10px 45px;
	justify-content: flex-end;
}

.inner-navigation {
	width: 1080px;
	margin: 35px auto;
	padding: 0 20px;
	flex-direction: column;
	box-sizing: border-box;
}

.inner-header {
	margin: 0;
	padding: 0;
}

.breadcrumbs {
	margin-top: 16px;
	gap: 36px;
}

.log-out {
	width: 56px;
	height: 30px;
	color: #000000;
	opacity: 0.3;
	margin-left: auto;
}

.catalog-products {
	background-color: #F0F0F0;
	;
}

.filter-container {
	box-sizing: border-box;
	width: 320px;
	padding: 0 40px 0 60px;
}

.catalog-container {
	box-sizing: border-box;
	width: 840px;
	background-color: #FFFFFF;
}

.sort-container {
	background-color: #F0F0F0;
	padding: 0 40px;
	justify-content: space-between;
	align-items: center;
	height: 70px;
}

.product-card {
	width: 360px;
	transition: opacity .2s;
}
.main-link {
	font-family: "Raleway", sans-serif;
	font-weight: 800;
	line-height: 21px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	text-decoration: none;
	color: #000000;
	z-index: 0;
}

.product-card-link-more {
	width: 220px;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
	display: none;
}

.product-card:hover .product-card-description, .product-card:hover .product-card-image{
	opacity: .6;
}

.product-card:active .product-card-description {
	opacity: .3;
}

.product-card:hover .product-card-link-more {
	display: flex;
}

.product-card-link:focus-visible {
	outline: 2px solid #AF4FFF;
}

.pagination {
	align-items: center;
	background-color: #F0F0F0;
	justify-content: space-between;
	margin: 0 40px 78px;
}

.main-header-navigation-item {
	align-items: center;
	position: relative;
	transition: opacity .2s;
}

.main-header-page-navigation-item-catalog {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 800;
	font-size: 18px;
	line-height: 21px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	margin-right: 276px;
	width: 293px;
	height: 50px;
	align-items: center;
}

.product-feature {
	font-size: 36px;
	line-height: 30px;
}

.product-feature-desc {
	font-size: 16px;
	line-height: 30px;
	color: #444444;
	margin-top: 12px;
}

.product-features {
	margin-top: 60px;
	display: flex;
	gap: 20px;
}

.product-showcase-img {
	position: relative;
	top: -19px;
}

.product-showcase-slider-item:nth-child(5) .product-features {
	gap: 40px;
}

.product-feature-block {
	flex-direction: column;
}

.product-selection-list-image-link {
	flex-direction: column;
	justify-content: center;
	text-decoration: none;
	transition: opacity .2s;
}

.product-selection-list-image-link:hover .product-selection-list-image-wrapper {
	background-color: #FFC700;
}

.product-selection-list-image-link:active {
	opacity: .3;
}

.product-selection-list-image-link:focus-visible {
	outline: 2px solid #AF4FFF;
}

.product-selection-list-image-wrapper {
	width: 160px;
	height: 160px;
	background-color: #FFE17F;
	justify-content: center;
	align-items: center;
	transition: background-color .2s ;
}

.product-selection-list-text-link {
	display: block;
	font-family: "Raleway", sans-serif;
	font-weight: 800;
	line-height: 24px;
	letter-spacing: -0.02em;
	margin-top: 32px;
	text-decoration: none;
	color: #000000;
}

.product-selection-list-item:nth-child(2) > .product-selection-list-item-wrapper {
	align-items: flex-end;
}

.advantages {
	margin-top: 70px;
}

.advantages-logo-container {
	width: 125px;
	height: 100px;
	background-color: #FFE17F;
	justify-content: center;
	align-items: center;
	transition: background-color .2s;
}

.advantages-container h2 {
	width: 910px;
	text-align: center;
}

.advantages-logo-info-container {
	width: 40px;
	height: 40px;
	justify-content: center;
	align-items: center;
	background-color: #DCDCDC;
	border-radius: 50%;
	margin-right: 43px;
}

.about-header {
	margin: 47px 0 48px;
}

.about-text {
	margin-bottom: 30px;
	width: 497px;
}

.about-list {
	margin: 0 0 30px;
	padding: 0 0 0 18px;
}

.contacts-header {
	margin-top: 47px;
}

.subscription-item-form {
	margin-top: 156px;
	padding-bottom: 62px;
	justify-content: space-between;
}

.social-links-list-item {
	background-color: rgba(255, 255, 255, 0.3);
	border-radius: 50%;
	justify-content: center;
	align-items: center;
	transition: background-color .2s;
}

.social-links-list {
	width: 150px;
	gap: 15px;
	flex-wrap: wrap;
	grid-column: 2 / 3;
	justify-content: space-around;
	justify-self: center;
	min-height: 65px;
	align-items: center;
}

.htmlacademy-logo-link {
	align-items: center;
	justify-self: end;
	align-self: center;
}

.about-link-container,
.contacts-link-container {
	justify-content: center;
	align-items: center;
	width: 270px;
	height: 40px;
	position: relative;
}

.main-footer-phone-number {
	width: 174px;
	margin: 0 0 0 auto;
}

main-footer-phone-number-link {
	text-decoration: none;
}

.catalog-products-container {
	width: 1160px;
	margin: 0 auto;
	padding: 0;
}

.button-load-more {
	width: 760px;
	height: 55px;
	margin: 44px 40px 44px;
	border: 3px solid #E5E5E5;
	background-color: transparent;
	font-weight: 800;
	font-size: 16px;
	line-height: 19px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	cursor: pointer;
	transition: border .2s;
}

.pagination-prev {
	width: 128px;
	height: 71px;
	justify-content: center;
	align-items: center;
}

.pagination-next {
	width: 141px;
	height: 71px;
	justify-content: center;
	align-items: center;
}

.pagination-button {
	transition: background-color .2s, opacity .2s;
}

.pagination-button-text {
	transition: opacity .2s;
}

.pagination-button:hover {
	background-color: #DCDCDC;
}

.pagination-button:active .pagination-button-text {
	opacity: .3;
}

.pagination-button:focus-visible {
	outline: 2px solid #AF4FFF;
}

.pagination-item:hover > :not(.pagination-current) .pagination-link-content {
	opacity: 1;
}

.pagination-item:active > :not(.pagination-current) .pagination-link-content {
	opacity: .1;
}

.pagination-link:focus-visible {
	outline: 2px solid #AF4FFF;
}

.pagination-disabled {
	color: #444444;
	opacity: 0.3;
	cursor: default;
}

.product-card-list {
	margin-top: 70px;
	padding: 0 40px;
	display: grid;
	grid-template-columns: repeat(2, 360px);
	gap: 42px;
}

.product-card-text-link {
	text-decoration: none;
	color: #000000;
	font-weight: 700;
	font-size: 18px;
	line-height: 20px;
	letter-spacing: -0.02em;
	display: block;
}

.product-card-description {
	justify-content: space-between;
	align-items: flex-start;
	margin-top: 32px;
}

.pagination-link {
	color: #444444;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
	text-decoration: none;
	border: 0;
	padding: 0;
	cursor: pointer;
	width: 100%;
	height: 100%;
	font-family: "Rubik", sans-serif;
	font-style: normal;
	box-sizing: border-box;
}
.pagination-link-content {
	opacity: .3;
}

.pagination-current {
	color: #444444;
	opacity: 0.6;
	cursor: default;
}

.main-container {
	min-width: 1160px;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.main-index,
.catalog-main {
	flex-grow: 1;
}

.main-header-navigation-list {
	flex-wrap: wrap;
	align-self: center;
}

.main-footer-list {
	gap: 35px;
	align-items: center;
	grid-column: 2 / 3;
	align-self: start;
	flex-wrap: wrap;
}
.main-footer-list-item-link {
	text-decoration: none;
	color: #FFFFFF;
	position: relative;
	transition: color .2s, opacity .2s;
}
.product-card-image, .social-links-list-item-img, .product-selection-list-image {
	display: block;
	max-width: 100%;
	height: auto;
	object-fit: contain;
}

.social-links-list-item-img {
	transition: opacity .2s;
}

.showcase-radio-list {
	align-items: center;
	gap: 20px;
	margin: 0 auto;
}
.social-links-list-item > .social-links-list-item-link {
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
}
.product-selection-list-item:nth-child(2) .product-selection-list-image-wrapper {
	align-items: flex-end;
}

.breadcrumbs-item:not(:first-child)::before {
	position: absolute;
	content: "";
	background-image: url(../images/breadcrumbs-arrow.svg);
	width: 4px;
	height: 8px;
	top: 6px;
	left: -19px;
	opacity: 0.2;
}
.product-showcase-button-prev {
	border: 0;
	background-color: transparent;
	background-image: url(../images/slider-left-arrow.svg);
	width: 20px;
	height: 60px;
	cursor: pointer;
	padding: 0;
	transition: opacity .2s;
}
.product-showcase-button-next {
	border: 0;
	background-color: transparent;
	background-image: url(../images/slider-right-arrow.svg);
	width: 20px;
	height: 60px;
	cursor: pointer;
	padding: 0;
	transition: opacity .2s;
}
.main-header-navigation-item:nth-child(3) {
	margin-left: 33px;
}
.main-header-navigation-item:nth-child(2) {
	margin-left: 26px;
}
.product-showcase-item {
	position: relative;
	z-index: 0;
	counter-increment: slider-number;
}
.product-showcase-item::after {
	content: "0"counter(slider-number);
	position: absolute;
	right: 48px;
    top: 11px;
	font-family: 'Rubik';
	font-style: normal;
	font-weight: 700;
	font-size: 180px;
	line-height: 135px;
	color: #FFFFFF;
	z-index: -1;
}
.main-link::before {
	content: "";
    position: absolute;
    background-color: #FFE17F;
    width: 100%;
    height: 8px;
    z-index: -1;
	left: 0;
    top: 50%;
    transform: translateY(-50%);
	transition: height 0.2s ease-out;
}

.nuances-controls-current {
	color: #FFE17F;
	transition: padding .2s;
}

.nuances-controls-current::after {
	content: "";
	position: absolute;
	width: 280px;
	height: 40px;
	background-color: #000000;
	left: 0;
	bottom: -8px;
	z-index: -1;
}
.nuances-controls-container::after {
	content: "";
	position: absolute;
	width: 319px;
	height: 7px;
	background-color: #000000;
	transform: rotate(90deg);
	right: -156px;
    top: 83px;
}
.nuances::after {
	content: "";
	position: absolute;
	width: 136px;
	height: 164px;
	background-image: url(../images/nuances-slider/running-courier.svg);
	right: 450px;
	top: 77px;
}
.nuances-slider-2::after {
	width: 171px;
	height: 195px;
	background-image: url(../images/nuances-slider/warranty.svg);
	top: 61px;
}
.nuances-slider-3::after {
	width: 156px;
	height: 188px;
	background-image: url(../images/nuances-slider/credit.svg);
	top: 65px;
}
.nuances-slider-2 .nuances-container {
	justify-content: space-around;
}
.nuances-slider-3 .nuances-container {
	justify-content: space-around;
}
.nuances-slider-2 .nuances-item {
	margin-left: 77px;
}
.nuances-slider-3 .nuances-item {
	margin-left: 77px;
}
.footer-container::after {
	content: "";
	grid-column: 1 / 2;
	grid-row: 3 / 4;
	width: 80px;
	height: 7px;
	background-color: #FFC700;
	align-self: center;
}

.state-default:hover {
	opacity: .6;
}

.state-default:active {
	opacity: .3;
}
.state-default:focus-visible {
	outline: 2px solid #AF4FFF;
}

.main-link:hover::before {
	height: 40px;
}
.main-link:focus-visible::before {
	outline: 2px solid #AF4FFF;
}
.main-link:active::before {
	height: 40px;
	background-color: #FFCC33;
}

.main-header-page-navigation-button {
	border: 0;
	padding: 0;
	background-color: transparent;
	cursor: pointer;
}

.nuances-controls-current:hover {
	padding-left: 35px;
}

.nuances-controls-current:active {
	padding-left: 35px;
}

.nuances-controls-current:focus-visible {
	outline: 2px solid #AF4FFF;
}

.advantages-logo-info {
	opacity: .3;
	transition: opacity .2s;
}
.advantages-link:hover .advantages-logo-container {
	background-color: #FFC700;
}
.advantages-link:hover .advantages-logo-info {
	opacity: 1;
}
.advantages-link:active {
	opacity: .3;
}
.advantages-link:focus-visible {
	outline: 2px solid #AF4FFF;
}
.main-header-page-navigation-link::after {
	content: "";
	background-color: #000000;
	width: 96%;
	height: 2px;
	position: absolute;
	left: 1px;
    bottom: 12px;
	opacity: 0;
	transition: opacity .1s;
}
.main-header-page-navigation-link:active:after {
	opacity: 1;
}
.htmlacademy-logo path {
	transition: fill .2s;
}

.htmlacademy-logo:hover path {
	fill: #FFFFFF;
}

.htmlacademy-logo:active path {
	opacity: .3;
}

.htmlacademy-logo-link:focus-visible {
	outline: 2px solid #AF4FFF;
}

.social-links-list-item:hover {
	background-color: #FFC700;
}
.social-links-list-item:active {
	background-color: #FFC700;
}
.social-links-list-item:active .social-links-list-item-img {
	opacity: .3;
}
.social-links-list-item-link:focus-visible {
	outline: 2px solid #AF4FFF;
}
.main-footer-list-item-link::after {
	content: "";
	background-color: #FFC700;
	width: 96%;
	height: 2px;
	position: absolute;
	left: 1px;
    bottom: -4px;
	opacity: 0;
	transition: opacity .1s;
}

.main-footer-list-item-link:active:after {
	opacity: .3;
}

.main-footer-list-item-link:hover {
	color: #FFC700;;
	opacity: 1;
}

.main-footer-list-item-link:active {
	opacity: .3;
}

.main-footer-list-item-link:focus-visible {
	outline: 2px solid #AF4FFF;
}

.main-footer-phone-number-link:hover {
	color: #FFC700;
}
.main-footer-phone-number-link:active {
	opacity: .3;
}

.main-footer-phone-number-link:focus-visible {
	outline: 2px solid #AF4FFF;
}

.header-username {
	align-items: center;
	gap: 13px;
}

.catalog-header {
	padding-bottom: 17px;
}

.button-load-more:hover {
	border: 3px solid #000000;
}
.button-load-more:active {
	opacity: .3;
}
.button-load-more:focus-visible {
	outline: 2px solid #AF4FFF;
}
.sort-item-controls {
	justify-content: space-between;
	align-items: center;
}
.sort-control-container {
	width: 30px;
	height: 30px;
	justify-content: center;
	align-items: center;
	transition: opacity .2s;
}

.sort-control-container svg {
	opacity: .3;
}
